/*Special Offer*/

#banner-offer{
    text-align: center;
    background-color: #f9f9f9;
    padding-bottom: 70px;
}

#banner-text h2{
    padding-top: 50px;
}

#banner-text{
    margin: 0 auto;
    width: 500px;padding-bottom: 30px;

}

#button-banner a{
    text-decoration: none;
    color: #f9f9f9;
    background-color: #e02d74;
    padding: 24px 34px;
    border-radius: 2px;
}