/*Header*/

.logo-titulo{
    font-size: 1rem;
    color: #ced0d1;
    float: left;
}



/*List-nav*/

#header{
    background-color: #f9f9f9;
}

#nav-list{
    float: right;
}

.menu-list{
    list-style: none;
    padding: 0;
}

.menu-list a{
    font-size: 0.81rem;
    color:  #ced0d1;
    text-decoration: none;
}

.menu-list li{
    float: left;
    margin-left: 20px;
}

.menu-burguer img{
    display: none;
    width: 24px;
    height: 24px;
}



