@media(max-width: 1023px){

    .menu-list{
        display: none;
    }

    .menu-burguer img{
        padding-top: 10px;
        float: right;
        display: block;
        width: 24px;
        height: 24px;
    }


}